<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>

<!-- HEADER -->
<div style="border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:20px;">

    {% if user.is_authenticated %}
        Xin chào: <b>{{ user.username }}</b> |
        <a href="{% url 'logout' %}">Đăng xuất</a>
    {% else %}
        <a href="{% url 'login' %}">Đăng nhập</a> |
        <a href="{% url 'register' %}">Đăng ký</a>
    {% endif %}

</div>


<h1>Danh sách bệnh viện</h1>

<ul>
    {% for bv in bvs %}
        <li>
            <a href="{% url 'hospital_detail' bv.id %}">
                {{ bv.ten }} - {{ bv.quan }}
            </a>
        </li>
    {% empty %}
        <li>Chưa có bệnh viện nào</li>
    {% endfor %}
</ul>



</body>
</html>
